body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    'aside header'
    'aside main'
    ;
}

aside {
    grid-area: aside;
}

main {
    background-color: #F7F7F7;
    padding: 32px;
    grid-area: main;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

header {
    grid-area: header;
}

.navigation-list {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    padding: 0;
}

.navigation-list-item {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 12px;
}

.navigation-list-item-active {
    font-weight: bold;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #D9EDFF;
    border-radius: 12px;
}

.navigation-list-item > a {
    color: #888888;
    text-decoration: none;
}

a:visited {
    color: #888888;
    text-decoration: none;
}

#product-table-container {
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
    border-radius: 24px;
    background-color: #FFFFFF;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#table-button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 24px;
}

#add-product-button {
    border: none; 
    background: transparent;
    cursor: pointer;
    padding: 0; 
    margin: 0; 
}
#product-list-table {
    width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#product-list-table > thead {
    background-color: #F6F6F6;
}

#product-list-table > tbody {
    background-color: #FFFFFF;
    flex-grow: 1;
    overflow-y: auto;
}

#product-list-table tr {
    display: table; 
    width: 100%; 
    table-layout: fixed; 
}

#product-list-table th,td {
    border-bottom: 1px solid #E7E7E7;
    text-align: center;
}

#add-product-form input, select{
    margin-bottom: 24px;
}